.header {
    background-color: #007bff;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    top: 0;
    padding: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-bottom: solid 1px red;
    z-index: 1000;
    position: fixed;
}

.user-info {
    font-size: 1.5em;
    cursor: pointer;
    color: white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.user-info i {
    font-size: 24px;
    color: white; /* Couleur de l'icône */
    cursor: pointer;
}