.header {
    background-color: #007bff; /* Couleur de fond bleue */
    color: white; /* Couleur du texte blanche */
    text-align: center; /* Alignement du texte centré */
    display: flex; /* Utilisation de flexbox pour la mise en page */
    align-items: center; /* Alignement vertical centré des éléments enfants */
    justify-content: space-between; /* Espacement égal entre les éléments enfants */
    width: 100%; /* Largeur totale de l'écran */
    box-sizing: border-box; /* Inclut les bordures et le padding dans la largeur */
    overflow-x: hidden; /* Cache le débordement horizontal */
    top: 0; /* Positionné en haut */
    padding: 5px; /* Réduction du padding */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombre portée légère */
    border-bottom: solid 1px red; /* Bordure inférieure rouge */
    z-index: 1000; /* Assure que le header reste au-dessus des autres éléments */
    position: fixed; /* Fixe le header en haut de la page */
}


.user-info {
    font-size: 1.5em;
    cursor: pointer;
    color: white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.user-info i {
    font-size: 24px;
    color: white; /* Couleur de l'icône */
    cursor: pointer;
}